<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body>
<div> <i th:text="${execInfo.now.time}"></i></div>
<div class="col-md-6 col-md-offset-3 col-sm-12">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <div class="input-group">
                <input type="url"
                       name="rssfeed"
                       class="form-control"
                       id="rssfeedInput"
                       placeholder="Rss feed link place..."
                       required="required"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="reset" value="reset">reset</button>
                    <button class="btn btn-primary" type="submit" value="submit">submit</button>
                </span>
            </div>
        </div>
    </form>
</div>

<div th:unless="${#lists.isEmpty(feeds)}" style="margin-left: 7%">
    <table class="table table-bordered table-hover table-condensed" th:each="feed : ${feeds}" style="display: inline-block;width:30%" id="feed-table">
        <thead><tr>
            <td th:text="${feed.getTitle()}"></td>
        </tr></thead>
        <tbody>
        <tr th:each="item : ${feed.getItems()}">
            <td><a th:text="${item.get(0)}" th:href="${item.get(1)}" target="_blank"></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>